body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

section{
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    display: block;
    text-align: center;

}

video,iframe{

    margin-top: 30px;
}


.historia {
  max-width: 100%;
  margin-top: 50px;
  width: 800px;
  margin-left: 30%;
  text-align:justify;
}

p{
    font-size: large;
}
.ingles {
    visibility: hidden;
    display: none;
}

#caja:checked ~.ingles {
    visibility: visible;
    display: inherit;
}

#caja:checked ~.español {

    display: none;
}

.ingles2 {
    visibility: hidden;
    display: none;
}

#caja2:checked ~.ingles2 {
    visibility: visible;
    display: inherit;
}

#caja2:checked ~.español2 {

    display: none;
}





@media only screen and (max-width: 768px) {

  }