/* Reset de márgenes y rellenos, y definición de la fuente predeterminada */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilo para la barra de navegación */
nav {
  background-color: #ffc107;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Estilo para la imagen dentro de la marca de la barra de navegación */
.navbar-brand img {
  max-width: 100%;
  height: auto;
}

/* Estilo para la lista de navegación */
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffc107;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

/* Estilo para los elementos de la lista de navegación */
li {
  margin-right: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: darkgray;
}

/* Estilo para los enlaces de la lista de navegación */
li a {
  color: rgb(102, 101, 101);
}

/* Estilo para los enlaces de la lista de navegación al hacer hover */
li a:hover {
  color: black;
}

/* Estilo para los enlaces en general */
a {
  text-decoration: none;
  color: #212529;
}

/* Estilo para el botón de alternar la lista de navegación en pantallas pequeñas */
.nav-toggle {
  cursor: pointer;
  font-size: 24px;
  order: 1;
  border: none;
  background: none;
  padding: 0;
  outline: none; /* Evitar el contorno al hacer clic */
}

/* Estilo para la animación de expansión de la lista de navegación al hacer clic en el botón de alternar */
.nav-toggle:focus + ul {
  max-height: 500px;
}

/* Estilo para la imagen dentro de la barra de navegación */
nav img {
  width: 150px;
  height: 65px;
}

/* Estilo para los elementos de navegación cuando la pantalla es menor o igual a 768px */
@media screen and (max-width: 768px) {
  .boton {
    display: block;
  }

  .navbar-nav {
    position: static;
    max-height: none;
    opacity: 1;
    flex-direction: row;
  }
}
