main{
  padding: 10px;
}

@media (min-width: 1200px) {
    .responsive-h1 {
      font-size: 80px;
    }
  }

  @media (max-width: 1199.98px) {
    .responsive-h1 {
      font-size: 30px;
    }
  }

  /* Nuevas reglas @media para tamaños más pequeños */
  @media (max-width: 768px) {
    .responsive-h1 {
      font-size: 24px;
    }
  }

  @media (max-width: 576px) {
    .responsive-h1 {
      font-size: 18px;
    }
  }

